.product form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 5rem;
}
.product h1 {
  text-align: center;
  margin-top: 2rem;
}

.product input {
  padding: 0.5rem;
  width: 25%;
  border: 1px solid skyblue;
  margin: 0.3rem;
}

.prod-btn {
  padding: 0.8rem;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid rgb(166, 162, 162);
  background-color: rgb(59, 139, 139);
  color: white;
}
