.list-products ul li {
  display: inline-block;
  padding: 5px;
  width: 150px;
  border: 1px solid skyblue;
}

.list-products {
  margin-top: 2rem;
  margin-left: 5rem;
}

.search-product-box {
  width: 400px;
  height: 30px;
  margin: 20px;
  padding-left: 20px;
  border: 1px solid skyblue;
}
